@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  font-family: "Merriweather", serif;
}
* {
  margin: 0;
  padding: 0;
}

/* header style */

.banner-container {
  background-image: linear-gradient(
      180deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url(../images/Banner\ Image.png);
  background-repeat: no-repeat;

  display: flex;
  /* position: fixed; */
  min-height: 600px;
  max-width: 1320px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  margin: 0 auto;
}
.banner-content {
  margin: 177px 344px;
}

.banner-subtitle {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
}
.banner-title {
  color: rgb(255, 255, 255);
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  text-align: center;
}
/* main section style */
.second-section-container {
  margin: 120px auto;
  height: 806px;
  width: 802px;
  align-items: center;
}
.second-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.second-section-content h1 {
  color: rgb(255, 0, 0);
  font-size: 88px;
  font-weight: 700;
  /* line-height: 107px; */
  margin-bottom: 48px;
}
.second-section-content p {
  color: rgb(255, 0, 0);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.second-section-content h3 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  /* line-height: 58px; */
  margin-bottom: 48px;
}
/* midnight-party styles */
.midnight-section-container {
  background-image: linear-gradient(
      90deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url(../images/Vectorrr.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1320px;
  min-height: 600px;
  margin: 0 auto;
  display: flex;
}
.midnight-left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 60px;
}

.midnight-left-content h2 {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 900;
}

.midnight-left-content p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
  margin-top: 24px;
}
.midnight-left-content span {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  margin-right: 500px;
  margin-top: 48px;
}
.midnight-right-content {
  margin: 68px 108px;
}
/* address style  */
.address-section-container {
  border: none;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
  font-family: Inter;
  width: 1320px;
  height: 482px;
  margin: 0 auto;
  margin-top: 120px;
 
}
.address-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 110px 385px;
  color: rgb(255, 0, 0);
}
.address-section-content span{
  color: rgb(7, 2, 17);
}
.address-section-content h3 {
  margin-top: 40px;
}
.address-btn {
  width: 167px;
  height: 56px;
  margin-top: 50px;
  padding: 16px 32px 16px 32px;
  border-radius: 8px;
  border: none;
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
}
/* offer styles */
.offer-section-container {
  width: 1320px;
  height: 463px;
  display: flex;
  margin: 0 auto;
}
.left-offer-content {
  width: 33%;
  margin: 104px auto;
}
.left-offer-content h4 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.left-offer-content h2 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-top: 16px;
}
.left-offer-content p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  margin-top: 22px;
}
.middle-offer-content {
  width: 33%;
  border-radius: 50%;
  border: 15px solid rgb(255, 0, 0);
  padding: 30px;
  flex: 1;
  align-items: center;
}
.middle-offer-content img {
  align-items: center;
  position: relative;
}
.right-offer-content {
  width: 33%;
  flex: 1;
  padding: 20px;
  padding-top: 112px;
  text-align: center;
}
.right-offer-content h3 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  /* margin-top: 112px */
}
.right-offer-content p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  padding-left: 112px;
  font-weight: 400;
  margin-top: 16px;
  text-align: left;
}
.right-offer-content img {
  width: 50%;
  margin-top: 46px;
}

/* holiday styles */
.holiday-section-container {
  width: 1320px;
  height: 986.07px;
  margin: 120px auto;
  text-align: center;
  background-image: url(../images/solid.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
.holiday-header p {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.holiday-header h1 {
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  color: rgb(255, 0, 0);
  margin-top: 16px;
}
.holiday-header span {
  color: rgb(7, 2, 17);
}
.holiday-subtitle {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  margin-top: 28px;
}
.holiday-content {
  display: flex;
  justify-content: space-evenly;
}
.gift-img-one {
  padding-top: 90px;
  padding-bottom: 0px;
  margin: 30px auto;
}
.gift-img-two {
margin: 50px auto;
padding-top: 100px;
}
/* portfolio styles */
.portfolio-container {
  width: 1320px;
  height: 1163px;
  margin: 0 auto;
}
.portfolio-header h5 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.portfolio-header h2 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  margin-top: 16px;
}
.portfolio-header p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  margin-top: 22px;
  margin-bottom: 48px;
}
.portfolio-items {
  border-radius: 16px;
  gap: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.item {
  width: 424px;
  height: 450px;
}
/* subscribe styles */
.subsceibe-container {
  width: 1320px;
  height: 616px;
  background-color: rgba(255, 0, 0, 0.05);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.subsceibe-container h2 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-top: 46px;
  margin-bottom: 22px;
}
.subsceibe-container p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 48px;
}

.subscribe-email {
  width: 438px;
  height: 72px;
  padding-left: 30px;
  border: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  outline: none;
}
.subscribe-btn {
  width: 210px;
  height: 72px;
  border-radius: 0px 50px 50px 0px;
  border: none;
  background: rgb(255, 0, 0);
  padding: 24px 56px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
}
/* footer styles */
.footer-container {
  width: 1600px;
  height: 609px;
  background: rgb(7, 2, 17);
  margin: 0 auto;
  padding: 50px;
  margin-top: 120px;
}
.footer-first-section {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}
.footer-contact {
  display: flex;
}
hr {
  width: 90%;
  margin: 50px auto;
}
.social-icons {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  margin: 80px auto;
}
.footer-end-section {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 80px auto;
}
